@model KofCWSCWebsite.Models.EmailOffice

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" id="create">
    <table class="table">
        <tr>
            <td style="text-align:center">
                <h3>Send Email to Selected Officers</h3><br />
                <input type="submit" value="Send Email" class="btn btn-primary" style="width:200px" />
                @*<button id="sendEmail" type="submit" value="Create" class="w-100 btn btn-lg btn-primary" style="width:200px !important">Send Email</button>*@
            </td>
        </tr>
        <tr>
            <td>

                <input id="cFS" type="checkbox" asp-for="@Model.Fs" />
                <label>Financial Secretaries</label><br />

                <input id="cGK" type="checkbox" asp-for="@Model.Gk" />
                <label>Grand Knights</label><br />

                <input id="cFN" type="checkbox" asp-for="@Model.Fn" />
                <label>Faithful Navigators</label><br />

                <input id="cFC" type="checkbox" asp-for="@Model.Fc" />
                <label>Fathful Comptrollers</label><br />

                <input id="cFC" type="checkbox" asp-for="@Model.Dd" />
                <label>District Deputies</label><br />

                <input id="cAll" type="checkbox" asp-for="@Model.All" />
                <label>All Members</label>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-floating mb-3">
                    <input asp-for="@Model.Subject" class="form-control" autocomplete="off" aria-required="true" placeholder="Tom" />
                    <label asp-for="@Model.Subject">Subject</label>
                    <span asp-validation-for="@Model.Subject" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="@Model.From" class="form-control" autocomplete="off" aria-required="true" placeholder="Tom" />
                    <label asp-for="@Model.From">From (i.e. StateDeputy@kofc-wa.org</label>
                    <span asp-validation-for="@Model.From" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <textarea asp-for="@Model.Body" class="form-control" rows="5" style="height:300px"></textarea>
                    <label asp-for="@Model.Body">Message</label>
                    <span asp-validation-for="@Model.Body" class="text-danger"></span>
                </div>
            </td>
        </tr>

    </table>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#create').submit(function (event) {
            var checked = $('input[type="checkbox"]:checked').length;
            if (checked === 0) {
                alert('Please select at least one checkbox.');
                event.preventDefault();
            }
        });
    });
</script>





@*<div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="text-align:center">
                    <input type="submit" value="Send Email" class="btn btn-primary" title="Send Email" style="width:200px !important" />
                </div>
                <div class="form-group">
                    <label asp-for="Subject" class="control-label"></label>
                    <input asp-for="Subject" class="form-control" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="From" class="control-label"></label>
                    <input asp-for="From" class="form-control" />
                    <span asp-validation-for="From" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Body" class="control-label"></label>
                    <input asp-for="Body" class="form-control" />
                    <span asp-validation-for="Body" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fs" class="control-label"></label>
                    <input asp-for="Fs" class="form-control" />
                    <span asp-validation-for="Fs" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gk" class="control-label"></label>
                    <input asp-for="Gk" class="form-control" />
                    <span asp-validation-for="Gk" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fn" class="control-label"></label>
                    <input asp-for="Fn" class="form-control" />
                    <span asp-validation-for="Fn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fc" class="control-label"></label>
                    <input asp-for="Fc" class="form-control" />
                    <span asp-validation-for="Fc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dd" class="control-label"></label>
                    <input asp-for="Dd" class="form-control" />
                    <span asp-validation-for="Dd" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="All" class="control-label"></label>
                    <input asp-for="All" class="form-control" />
                    <span asp-validation-for="All" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
