@model IEnumerable<KofCWSCWebsite.Models.EmailOffice>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.All)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.All)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
