@model IEnumerable<KofCWSCWebsite.Models.EmailOffice>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h3>NOTE: The "Date Sent" for all items listed as 11/06/2024 is not correct.  These emails were sent before the "Date Sent" column was established and so the 11/06/24 was a default at the time.</h3>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole("Admin") || User.IsInRole("DataAdmin"))
            {
                <th></th>
            }
            <th>
                @Html.DisplayNameFor(model => model.DateSent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th style="width:50%">
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.All)
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (User.IsInRole("Admin") || User.IsInRole("DataAdmin"))
                {
                    <td style="padding-left:0px;padding-right:0px">
                        <form asp-action="Details" asp-route-id="@item.Id" method="get">
                            <button type="submit" class="btn btn-sm btn-warning">
                                Details
                            </button>
                        </form>
                    </td>
                }
                <td>
                    @Convert.ToDateTime(item.DateSent).ToString("MM/dd/yyyy")
                    @*@Html.DisplayFor(modelItem => item.DateSent)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td style="width:50%">
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.All)
                </td>

            </tr>
        }
    </tbody>
</table>
