@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    //ViewBag.KofCIDErr will contain KofCVerifyErrors
    var isKOFCE = ViewBag.KofCIDErr ?? string.Empty;

}

<h1>@ViewData["Title"]</h1>
@isKOFCE

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div style="display:none">
                <input asp-for="Input.MemberVerified" class="form-control" autocomplete="off" aria-required="true" placeholder="Tom" />
                <label asp-for="Input.MemberVerified">MemberVerified</label>
                <span asp-validation-for="Input.MemberVerified" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="off" aria-required="true" placeholder="Tom" />
                <label asp-for="Input.FirstName">First Name</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" autocomplete="LastName" aria-required="true" placeholder="Smith" />
                <label asp-for="Input.LastName">Last Name</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div id="loadingSpinner" style="display: none">
                <img style="width:50px" src="/images/blue loading animate.png" alt="Loading..." />
            </div>
            <div class="form-floating mb-3">
                <input id="KofCID" asp-for="Input.KofCMemberID" class="form-control" autocomplete="KofCMemberID" aria-required="true" placeholder="1234567" />
                <label asp-for="Input.KofCMemberID">KofC Member ID</label>
                @*<span id="KofCIDError" asp-validation-for="Input.KofCMemberID" d class="text-danger"></span>*@
                <span id="KofCIDError" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">UserID (email)</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <span id="screenInfo" class="text-into"></span>
            <br />
            <div id="showAddl" style="display:none;border:solid;border-color:red">
                <span style="font-weight:bold">Additional Member Information</span>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Address" class="form-control" autocomplete="Address" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Address">Address</label>
                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.City" class="form-control" autocomplete="City" aria-required="true" placeholder="password" />
                    <label asp-for="Input.City">City</label>
                    <span asp-validation-for="Input.City" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.State" class="form-control" autocomplete="State" aria-required="true" placeholder="password" />
                    <label asp-for="Input.State">State</label>
                    <span asp-validation-for="Input.State" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.PostalCode" class="form-control" autocomplete="PostalCode" aria-required="true" placeholder="password" />
                    <label asp-for="Input.PostalCode">Postal Code</label>
                    <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Wife" class="form-control" autocomplete="Wife" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Wife">Wife's Name</label>
                    <span asp-validation-for="Input.Wife" class="text-danger"></span>
                </div>
            </div>
            <br />
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-5">
        <br />
        <br />
        <h3 style="text-align:center">Welcome to the Knights of Columbus<br />Washington State Council</h3>
        <p>
            Registration on this site is reserved for members of the Washington State Knights of Columbus Council.
            You must have a valid Knights of Columbus membership and your membership number must be in our database.
            You will have to list your membership number to register.  If we do not have a record of your membership, i.e.
            you are a new member, please email webmaster@kofc-wa.org with your name, phone number, email address, member number
            and council number.  The webmaster will record this information and then you will be able register on this site.
        </p>
        <h3>Password Complexity Rules</h3>

        <h5>All passwords must meet the following MINIMUM criteria.</h5>
        <span style="font-weight:bold">Minimum Length:</span> Passwords must be at least 8 characters long.
        <br />
        <span style="font-weight:bold">
            Require Digit:
        </span> At least one numeric digit (0-9).
        <br />
        <span style="font-weight:bold">
            Require Lowercase:
        </span> At least one lowercase character (‘a’-‘z’).
        <br />
        <span style="font-weight:bold">
            Require Uppercase:
        </span> At least one uppercase character (‘A’-‘Z’).
        <br />
        <span style="font-weight:bold">Require Non-Alphanumeric:</span> At least one non-alphanumeric character (e.g., symbols like '!', '&commat;', '#').
        <div id="showAddlt" style="display:none">
            <br />
            <span style="font-weight:bold"><== Additional Member Information</span>
            <p>
                All Members who wish to register must already exist in our database.  Your information is not and so we will need to collect additional information for you to be added.
                <br />
                <br />
                To do this, please fill in the Additional Member Information to the left.
                <br />
                <br />
                Once sumbitted your request will be reviewed and a verification email will be sent to the email listed.
            </p>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            $("#KofCID").on("blur", function () {
                $("#KofCIDError").text("");
                $("#loadingSpinner").show(); // Show spinner when request starts
                //alert('running blur')
                $.get("/Users/VerifyKofCID", { KofCID: $(this).val() }, function (response) {
                    $("#loadingSpinner").hide(); // Hide spinner when request completes
                    const myresponse = response.message;
                    const mymessage = myresponse.replace(/^-?\d+\s*/, '');
                    const numberMatch = response.message.match(/^-?\d+/);
                    //alert(numberMatch);
                    const enumber = numberMatch ? parseInt(numberMatch[0], 10) : null;
                    //alert(enumber);
                    switch (enumber) {
                        case -1:
                            //alert("in -1");
                            $("#showAddlt").hide();
                            $("#showAddl").hide();
                            $("#KofCIDError").text(mymessage);
                            break;
                        case 1:
                            //alert("in 1");
                            $("#showAddlt").show();
                            $("#showAddl").show();
                            $("#screenInfo").text(mymessage);
                            break;
                        case 2:
                            $("#showAddlt").hide();
                            $("#showAddl").hide();
                            break;
                        case 3:
                            $("#showAddlt").hide();
                            $("#showAddl").hide();
                            $("#KofCIDError").text(mymessage);
                            break;
                        case 4:
                            $("#showAddlt").hide();
                            $("#showAddl").hide();
                            $("#screenInfo").text(mymessage);
                            break;
                        default:
                            $("#showAddlt").hide();
                            $("#showAddl").hide();
                            break;
                    }
                    //////////////if (response.success) {
                    //////////////    if (enumber == 1) { 
                    //////////////        $("#showAddlt").show();
                    //////////////        $("#showAddl").show();
                    //////////////    } else {
                    //////////////        $("#showAddlt").hide();
                    //////////////        $("#showAddl").hide();
                    //////////////    }
                    //////////////    if (enumber == 1) {
                    //////////////        $("#showAddlt").show();
                    //////////////        $("#showAddl").show();
                    //////////////    } else {
                    //////////////        $("#showAddlt").hide();
                    //////////////        $("#showAddl").hide();
                    //////////////    }
                    //////////////    //alert("Success");
                    //////////////    //alert("in success mymessage is " + mymessage);
                    //////////////    //alert("in success my enumber is " + enumber);
                    //////////////    //$("#KofCIDMessage").text(response.message); // Show error message
                    //////////////    //$("#submitButton").prop("disabled", true);  // Disable submit button
                    //////////////} else {
                    //////////////    //alert("no Success");
                    //////////////    alert(mymessage);
                    //////////////    alert(enumber);
                    //////////////    $("#KofCIDError").text(mymessage); // response.message;
                    //////////////    //$("#KofCIDMessage").text(""); // Clear error
                    //////////////    //$("#submitButton").prop("disabled", false); // Enable submit button
                    //////////////}
                });
            });
        });</script>

    @*<button id="submitButton">Submit</button>*@
    @* <div class="col-md-6 col-md-offset-2">
            <section>
                <h3>Use another service to register.</h3>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                about setting up this ASP.NET application to support logging in via external services</a>.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div> *@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
