@model KofCWSCWebsite.Models.USPSAddress

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AddressRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Address.StreetAddress" class="control-label"></label>
                <input asp-for="Address.StreetAddress" class="form-control" />
                <span asp-validation-for="Address.StreetAddress" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Address2" class="control-label"></label>
                <input asp-for="Address2" class="form-control" />
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.State" class="control-label"></label>
                <input asp-for="Address.State" class="form-control" />
                <span asp-validation-for="Address.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.ZIPCode" class="control-label"></label>
                <input asp-for="Address.ZIPCode" class="form-control" />
                <span asp-validation-for="Address.ZIPCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.ZIPPlus4" class="control-label"></label>
                <input asp-for="Address.ZIPPlus4" class="form-control" />
                <span asp-validation-for="Address.ZIPPlus4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />
<div>
    <hr />
    <h6>Found This Address</h6>
    <br />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.StreetAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.StreetAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.ZIPCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.ZIPCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.ZIPPlus4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.ZIPPlus4)
        </dd>
    </dl>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
