@model IEnumerable<KofCWSCWebsite.Models.FileStorageVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Document Storage</h1>

<p>
    <form asp-controller="FileStorage" asp-action="Create" method="get">
        <button type="submit" class="btn btn-sm btn-success">
            Upload A Document
        </button>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Data)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentType)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentType)
            </td>
            <td style="padding-left:0px;padding-right:0px">
                <form asp-action="Details" asp-route-id="@item.Id" method="get">
                    <button type="submit" class="btn btn-sm btn-warning">
                        Details
                    </button>
                </form>
            </td>
            <td style="padding-left:0px">
                <form asp-action="Delete" asp-route-id="@item.Id" method="get">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>

            </td>
        </tr>
}
    </tbody>
</table>
