@model IEnumerable<KofCWSCWebsite.Models.TblMasPso>

@{
    ViewData["Title"] = "Index";
}
<table class="table">
    <tr>
        <td>
            <h3 class="MyPageHdr">Washington State Council Past State Officers</h3>
        </td>
    </tr>
</table>
<p>
    <input type="text" id="myYear" onkeyup="myFunction()" placeholder="Type in a year to filter results" title="Type in a year" style="width:25%">
</p>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table" id="myTable">
    <thead>
        <tr>
            <th class="MyColHdr">
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th class="MyColHdr">
                @Html.DisplayNameFor(model => model.StateDeputy)
            </th>
            <th class="MyColHdr">
                @Html.DisplayNameFor(model => model.StateSecretary)
            </th>
            <th class="MyColHdr">
                @Html.DisplayNameFor(model => model.StateTreasurer)
            </th>
            <th class="MyColHdr">
                @Html.DisplayNameFor(model => model.StateAdvocate)
            </th>
            <th class="MyColHdr">
                @Html.DisplayNameFor(model => model.StateWarden)
            </th>
            <th class="MyColHdr"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StateDeputy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StateSecretary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StateTreasurer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StateAdvocate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StateWarden)
                </td>
                <td>
                    @if (User.IsInRole("Admin")) {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action = "Details" asp-route-id = "@item.Id" > Details </a>
                        <a asp-action = "Delete" asp-route-id = "@item.Id" > Delete </a>
                        }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myYear");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
