@model KofCWSCWebsite.Models.TblValOffice

@{
    ViewData["Title"] = "Details";
}

<h1>Office</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficeDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DirSortOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DirSortOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AltDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AltDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAlias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailAlias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UseAsFormalTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UseAsFormalTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebPageTagLine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebPageTagLine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupremeUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupremeUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroupId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroupId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Copy2NewYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Copy2NewYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExchangeMailType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExchangeMailType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OfficeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
