@model KofCWSCWebsite.Models.TblValCouncil


@{
    ViewData["Title"] = "Details";
}

<h1>Council Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddInfo1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddInfo1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddInfo2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddInfo2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddInfo3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddInfo3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiabIns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiabIns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DioceseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DioceseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chartered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chartered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebSiteUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebSiteUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BulletinUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BulletinUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arbalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arbalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
