@model KofCWSCWebsite.Models.TblValCouncil

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Council @Model.CNumber - @Model.CName</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CNumber" />
            <div style="display:none">
                @*These need to be added to the form and hidden so that when the model is returned, they 
                have the same data as when they were fetched and won't be all false*@
                @Html.CheckBoxFor(m => Model.SeatedDelegateDay1D1)
                @Html.CheckBoxFor(m => Model.SeatedDelegateDay1D2)
                @Html.CheckBoxFor(m => Model.SeatedDelegateDay2D1)
                @Html.CheckBoxFor(m => Model.SeatedDelegateDay2D2)
                @Html.CheckBoxFor(m => Model.SeatedDelegateDay3D1)
                @Html.CheckBoxFor(m => Model.SeatedDelegateDay3D2)
            </div>

            <div class="form-group">
                <label asp-for="CLocation" class="control-label"></label>
                <input asp-for="CLocation" class="form-control" />
                <span asp-validation-for="CLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CName" class="control-label"></label>
                <input asp-for="CName" class="form-control" />
                <span asp-validation-for="CName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="District" class="control-label"></label>
                <input asp-for="District" class="form-control" />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddInfo1" class="control-label"></label>
                <input asp-for="AddInfo1" class="form-control" />
                <span asp-validation-for="AddInfo1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddInfo2" class="control-label"></label>
                <input asp-for="AddInfo2" class="form-control" />
                <span asp-validation-for="AddInfo2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddInfo3" class="control-label"></label>
                <input asp-for="AddInfo3" class="form-control" />
                <span asp-validation-for="AddInfo3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LiabIns" class="control-label"></label>
                <input asp-for="LiabIns" class="form-control" />
                <span asp-validation-for="LiabIns" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DioceseId" class="control-label"></label>
                <input asp-for="DioceseId" class="form-control" />
                <span asp-validation-for="DioceseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chartered" class="control-label"></label>
                @*<input asp-for="Chartered" class="form-control" type="date" value="@(Model.Chartered.HasValue ? Model.Chartered.Value.ToString("yyyy-MM-dd") : string.Empty)" />*@
            <input asp-for="Chartered" class="form-control" type="date" />
                <span asp-validation-for="Chartered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebSiteUrl" class="control-label"></label>
                <input asp-for="WebSiteUrl" class="form-control" />
                <span asp-validation-for="WebSiteUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BulletinUrl" class="control-label"></label>
                <input asp-for="BulletinUrl" class="form-control" />
                <span asp-validation-for="BulletinUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arbalance" class="control-label"></label>
                <input asp-for="Arbalance" class="form-control" />
                <span asp-validation-for="Arbalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
        <div style="float:right">
            <form method="get" asp-controller="TblValCouncils" asp-action="FSEdit" asp-route-id="@Model.CNumber">
                <button type="submit" class="btn btn-info">Update Additional Details</button>
            </form>
        </div>
    </div>

</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
