@model LogCorrMemberOffice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblLogCorrMemberOffice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryOffice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryOffice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Council)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Council)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assembly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assembly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Processed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Processed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
