@model IEnumerable<KofCWSCWebsite.Models.CvnMpd>

@{
    ViewData["Title"] = "Index";
}

<h1>Review @ViewBag.Group Check Batch</h1>
<h6><span style="color:red">@TempData["CheckNumberError"]</span></h6>
@{
    TempData["CheckNumberError"] = "";
}
<h6 id="ErrorMessage"><span style="color:red">Missing Mileage for Councils Found.  Please add to Mileage table and start batch again. Scroll down to see the RED errors.</span></h6>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
@{
    int NbrCks = Model.Count();
}
<table>
    <thead>
        <tr>
            @*<th>Filter By:</th>*@
            <th>
                District
            </th>
            <th>
                Council
            </th>
            <th>
                Payee
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @*<td style="text-align:center">
                    <input type="checkbox" id="myerrorsFilter" title="Click to only show Errors" />&nbsp;Show Errors Only&nbsp;&nbsp;
                </td>*@
            <td>
                <input type="text" id="mydistrictFilter" placeholder="Type in a District Number to filter results" title="Type in a number">
            </td>
            <td>
                <input type="text" id="mycouncilFilter" placeholder="Type in a Council Number to filter results" title="Type in a number">
            </td>
            <td>
                <input type="text" id="mynameFilter" placeholder="Type in a Payee (Council) Name to filter results" title="Type in letters">
            </td>
            <td>
                <button id="resetFilters" class="btn btn-outline-success">Reset Filters</button>
            </td>
        </tr>
    </tbody>
</table>

<table class="table" id="myTable">
    <thead>
        <tr>
            <td colspan="7">
                <table>
                    <tr>
                        <td style="text-align:center;padding-right:10px">
                            <label>Show Less</label>
                            <br />
                            <input type="checkbox" id="myddayFilter">
                        </td>
                        <td>
                            <div id="PrintCheck1">
                                <button type="button" class="btn btn-sm btn-success" onclick="ShowCheckNumber()">
                                    Print Checks
                                </button>
                            </div>
                            <div id="CheckNumber" style="display:none;text-align:center">

                                <form asp-controller="CvnMpd" asp-action="PrintChecks" method="get">
                                    <input id="GroupID" name="GroupID" type="text" value="@ViewBag.GroupID" hidden />
                                    <label>Print Check#?</label>
                                    <input id="PrintCheckNumber" name="PrintCheckNumber" type="checkbox" value="true" /><br />
                                    <label>Next Check#</label><br />
                                    <input type="number" name="NextCheckNumber" id="NextCheckNumber" style="width:150px" /><br />
                                    <button type="submit" class="btn btn-sm btn-success" id="submitButtonPrint">
                                        Print Checks
                                    </button>
                                </form>
                            </div>
                        </td>
                        @*<td>
                                <form asp-controller="CvnMpd" asp-action="ExportCSV" method="get">
                                    <input id="GroupID" name="GroupID" type="text" value="@ViewBag.GroupID" hidden />
                                    <button type="submit" class="btn btn-sm btn-success" id="submitButtonExCSV">
                                        Export Checks to CSV
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form asp-controller="CvnMpd" asp-action="ExportQB" method="get">
                                    <button type="submit" class="btn btn-sm btn-success" id="submitButtonExQB">
                                        Export Checks to QuickBooks
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form asp-controller="CvnMpd" asp-action="Archive" method="get">
                                    <button type="submit" class="btn btn-sm btn-success" id="submitButtonArch">
                                        Archive and Clear Check Batch
                                    </button>
                                </form>
                            </td>*@
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.MemberId)
                </th>*@
            <!--<th colspan="2" style="width:15%;text-align:center">-->@*@ViewBag.Group Days*@<!--</th>-->

            <th>

                @Html.DisplayNameFor(model => model.District)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Council)
            </th>
            @*<th style="width:250px">
                    @Html.DisplayNameFor(model => model.Group)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Office)
                </th>*@
            <th style="width:20%">
                @Html.DisplayNameFor(model => model.Payee)
            </th>
            @*<th style="text-align:center">
                    @Html.DisplayNameFor(model => model.CheckNumber)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.CheckDate)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Day1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Day2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Day3)
                </th>*@
            @if (@ViewBag.GroupID == 3)
            {
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.Day1GD1)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.Day2GD1)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.Day3GD1)
                </th>
            }
            @if (@ViewBag.GroupID == 25)
            {
                <th style="text-align:center">
                    @*@Html.DisplayNameFor(model => model.Day1GD1)*@
                    Day1 Delegate1
                </th>
                <th style="text-align:center">
                    @*@Html.DisplayNameFor(model => model.Day1GD1)*@
                    Day1 Delegate2
                </th>
                <th style="text-align:center">
                    @*@Html.DisplayNameFor(model => model.Day1GD1)*@
                    Day2 Delegate1
                </th>
                <th style="text-align:center">
                    @*@Html.DisplayNameFor(model => model.Day1GD1)*@
                    Day2 Delegate2
                </th>
                <th style="text-align:center">
                    @*@Html.DisplayNameFor(model => model.Day1GD1)*@
                    Day3 Delegate1
                </th>
                <th style="text-align:center">
                    @*@Html.DisplayNameFor(model => model.Day1GD1)*@
                    Day3 Delegate2
                </th>
            }
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Miles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouncilLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string isDD = item.HasDDDelegate ? "background-color:red;color:white" : "";
            string isDDTitle = item.HasDDDelegate ? "This Council has a DD listed as a Delegate. Please review the Rollcall Sheets and make sure the DD was not Paid as a DD. If so clear the Council Delegate checkboxes as neccessary." : "";

            <tr title="@isDDTitle">

                <td style="@isDD">
                    @*<span>@item.HasDDDelegate</span>*@
                    @Html.DisplayFor(modelItem => item.District)
                </td>
                <td style="@isDD">
                    @Html.DisplayFor(modelItem => item.Council)
                </td>
                <td style="@isDD">
                    @Html.DisplayFor(modelItem => item.Payee)
                </td>
                @if (@ViewBag.GroupID == 3)
                {
                    @if (item.Miles == -1)
                    {
                        <td style="text-align:center;@isDD">
                            @Html.Raw(item.Day1GD1)
                        </td>
                        <td style="text-align:center;@isDD">
                            @Html.Raw(item.Day2GD1)
                        </td>
                        <td style="text-align:center;@isDD">
                            @Html.Raw(item.Day3GD1)
                        </td>
                    }
                    else
                    {
                        <td style="@isDD">
                            <form asp-controller="CvnMpd" asp-action="ToggleDelegateDaysMPD" asp-route-id=@item.MemberId asp-route-day="1" asp-route-groupid="@item.GroupID" method="get">
                                <button type="submit" class="btn btn-sm">
                                    @Html.Raw(item.Day1GD1)
                                </button>
                            </form>
                        </td>
                        <td style="text-align:center;@isDD">
                            <form asp-controller="CvnMpd" asp-action="ToggleDelegateDaysMPD" asp-route-id=@item.MemberId asp-route-day="2" asp-route-groupid="@item.GroupID" method="get">
                                <button type="submit" class="btn btn-sm">
                                    @Html.Raw(item.Day2GD1)
                                </button>
                            </form>
                        </td>
                        <td style="text-align:center;@isDD">
                            <form asp-controller="CvnMpd" asp-action="ToggleDelegateDaysMPD" asp-route-id=@item.MemberId asp-route-day="3" asp-route-groupid="@item.GroupID" method="get">
                                <button type="submit" class="btn btn-sm">
                                    @Html.Raw(item.Day3GD1)
                                </button>
                            </form>
                        </td>
                    }
                }


                @if (@ViewBag.GroupID == 25)
                {
                    @if (item.Miles == -1)
                    {
                        <td style="text-align:center;@isDD">
                            @Html.Raw(item.Day1GD1)
                        </td>
                        <td style="text-align:center;@isDD">
                            @Html.Raw(item.Day1GD2)
                        </td>
                        <td style="text-align:center;@isDD">
                            @Html.Raw(item.Day2GD1)
                        </td>
                        <td style="text-align:center;@isDD">
                            @Html.Raw(item.Day2GD2)
                        </td>
                        <td style="text-align:center;@isDD">
                            @Html.Raw(item.Day3GD1)
                        </td>
                        <td style="text-align:center;@isDD">
                            @Html.Raw(item.Day3GD2)
                        </td>
                    }
                    else
                    {
                        <td style="text-align:center;@isDD">
                            <form asp-controller="CvnMpd" asp-action="ToggleCouncilDays" asp-route-id=@item.Council asp-route-day="1" asp-route-del="D1" asp-route-groupid="@item.GroupID" method="get">
                                <button type="submit" class="btn btn-sm">
                                    @Html.Raw(item.Day1GD1)
                                </button>
                            </form>
                        </td>
                        <td style="text-align:center;@isDD">
                            <form asp-controller="CvnMpd" asp-action="ToggleCouncilDays" asp-route-id=@item.Council asp-route-day="1" asp-route-del="D2" asp-route-groupid="@item.GroupID" method="get">
                                <button type="submit" class="btn btn-sm">
                                    @Html.Raw(item.Day1GD2)
                                </button>
                            </form>
                        </td>
                        <td style="text-align:center;@isDD">
                            <form asp-controller="CvnMpd" asp-action="ToggleCouncilDays" asp-route-id=@item.Council asp-route-day="2" asp-route-del="D1" asp-route-groupid="@item.GroupID" method="get">
                                <button type="submit" class="btn btn-sm">
                                    @Html.Raw(item.Day2GD1)
                                </button>
                            </form>
                        </td>
                        <td style="text-align:center;@isDD">
                            <form asp-controller="CvnMpd" asp-action="ToggleCouncilDays" asp-route-id=@item.Council asp-route-day="2" asp-route-del="D2" asp-route-groupid="@item.GroupID" method="get">
                                <button type="submit" class="btn btn-sm">
                                    @Html.Raw(item.Day2GD2)
                                </button>
                            </form>
                        </td>
                        <td style="text-align:center;@isDD">
                            <form asp-controller="CvnMpd" asp-action="ToggleCouncilDays" asp-route-id=@item.Council asp-route-day="3" asp-route-del="D1" asp-route-groupid="@item.GroupID" method="get">
                                <button type="submit" class="btn btn-sm">
                                    @Html.Raw(item.Day3GD1)
                                </button>
                            </form>
                        </td>
                        <td style="text-align:center;@isDD">
                            <form asp-controller="CvnMpd" asp-action="ToggleCouncilDays" asp-route-id=@item.Council asp-route-day="3" asp-route-del="D2" asp-route-groupid="@item.GroupID" method="get">
                                <button type="submit" class="btn btn-sm">
                                    @Html.Raw(item.Day3GD2)
                                </button>
                            </form>
                        </td>
                    }

                }
            <td style="text-align:center;@isDD">
                @if (item.Miles == -1)
                {
                    <span title="Missing Mileage for Council" style="color:white;background-color:red">Error</span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Miles)
                }

            </td>
                <td title="@item.Memo" style="@isDD">
                    @Html.DisplayFor(modelItem => item.CheckTotal)
                </td>
                <td style="@isDD">
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td style="@isDD">
                    @Html.DisplayFor(modelItem => item.CouncilLocation)
                </td>
                @*
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>*@
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.CouncilStatus)
                </td>
            </tr>


        }
    </tbody>
</table>
<script>
    const myErrorMessage = document.getElementById('ErrorMessage');
    myErrorMessage.hidden = true;

    const myPrint = document.getElementById('submitButtonPrint');
    const myExCSV = document.getElementById('submitButtonExCSV');
    const myExQB = document.getElementById('submitButtonExQB');
    const myArch = document.getElementById('submitButtonArch');

    const myGroupID = document.getElementById('GroupID');
    const myGroupIDV = myGroupID.value;

    const myPrintChecksButton = document.getElementById('PrintChecksButton');

    var CheckCounter = 0;
    var MileageErrorCounter = 0;
    // Elements
    const districtFilter = document.getElementById('mydistrictFilter');
    const councilFilter = document.getElementById('mycouncilFilter');
    const nameFilter = document.getElementById('mynameFilter');
    const ddaysFilter = document.getElementById('myddayFilter');
    //const errorsFilter = document.getElementById('myerrorsFilter')

    const resetFilters = document.getElementById('resetFilters');
    const tableBody = document.getElementById('mytable');

    function getCookie(name) {
        const cookies = document.cookie.split('; '); // Split cookies into individual key=value pairs
        for (let cookie of cookies) {
            const [key, value] = cookie.split('='); // Split each cookie into key and value
            if (key === name) {
                return decodeURIComponent(value); // Decode and return the cookie value
            }
        }
        return null; // Return null if the cookie isn't found
    }
    // Restore filters from localStorage
    function restoreFilters() {
        const saveddistrictFilter = getCookie("districtFilter") || ''; //localStorage.getItem('districtFilter') || '';
        const savedcouncilFilter = getCookie("councilFilter") || ''; //localStorage.getItem('councilFilter') || '';
        const savednameFilter = getCookie("nameFilter") || ''; //localStorage.getItem('nameFilter') || '';
        //const savederrorsFilter = getCookie("errorsFilter") || '';

        districtFilter.value = saveddistrictFilter;
        councilFilter.value = savedcouncilFilter;
        nameFilter.value = savednameFilter;
        //errorsFilter.checked = savederrorsFilter;
    }

    // Save filters to localStorage
    function saveFilters() {
        document.cookie = "districtFilter=" + districtFilter.value + "; path=/;"; //localStorage.setItem('districtFilter', districtFilter.value);
        document.cookie = "councilFilter=" + councilFilter.value + "; path=/;"; //localStorage.setItem('councilFilter', councilFilter.value);
        document.cookie = "nameFilter=" + nameFilter.value + "; path=/;"; //localStorage.setItem('nameFilter', nameFilter.value);
        //document.cookie = "errorsFilter=" + errorsFilter.checked + "; path=/";
    }

    function getCheckBoxTotal(myCell) {
        var cell = myCell;
        //var checkbox = cell.querySelector('input[type="checkbox"]');
        var img = cell.querySelector('img');
        if (img.src.includes("CheckboxChecked")) {
            return 1;
        }
        else {
            return 0;
        }
    }

    function getPath() {
        return window.location.pathname;
    }
    // Filter the table
    function filterTable() {
        const districtValue = districtFilter.value.toLowerCase();
        const councilValue = councilFilter.value.toLowerCase();
        const nameValue = nameFilter.value.toLowerCase();
        const myddayValue = ddaysFilter.checked;

        CheckCounter = 0;
        MileageErrorCounter = 0;
        var milcol = 0;
        var myTable = document.getElementById('myTable');
        Array.from(myTable.rows).forEach(row => {
            var myTotal = 0;
            // only affect the body rows not the header
            if (row.parentNode.tagName.toLowerCase() === 'tbody') {
                const district = row.cells[0].textContent.toLowerCase().trim();
                const council = row.cells[1].textContent.toLowerCase().trim();
                const name = row.cells[2].textContent.toLowerCase().trim();
                if (myGroupIDV == 25) { milcol = 9; };
                if (myGroupIDV == 3) { milcol = 6; };
                const miles = row.cells[milcol].innerHTML;

                if (myGroupIDV == 3) { myTotal = Number(row.cells[7].innerHTML); }
                if (myGroupIDV == 25) { myTotal = Number(row.cells[10].innerHTML); }

                // Check each filter
                const districtMatch = districtValue === '' || district === districtValue;
                const councilMatch = councilValue === '' || council === councilValue;
                const nameMatch = nameValue === '' || name.includes(nameValue);
                if (!myddayValue) { myTotal = 1 }

                // Show or hide the row based on filters
                if (districtMatch && councilMatch && nameMatch && myTotal) {
                    row.style.display = '';
                    CheckCounter = CheckCounter + 1;
                    if (miles.includes('Error')) { MileageErrorCounter++; };
                } else {
                    row.style.display = 'none';
                }
            }
        });

        myPrint.innerText = 'Print ' + CheckCounter.toString() + ' Checks'
        // show error message if any councils are missing mileage
        if (MileageErrorCounter > 0) { myErrorMessage.hidden = false; } else { myErrorMessage.hidden = true; }
        // Save filter values
        saveFilters();
    }

    // Reset filters
    resetFilters.addEventListener('click', () => {
        districtFilter.value = '';
        councilFilter.value = '';
        nameFilter.value = '';
        ddaysFilter.checked = false;
        filterTable();
    });



    // Event listeners
    districtFilter.addEventListener('input', filterTable);
    councilFilter.addEventListener('input', filterTable);
    nameFilter.addEventListener('input', filterTable);
    ddaysFilter.addEventListener('input', filterTable);

    // Initialize
    restoreFilters();
    filterTable();
</script>
<script>
    function ShowCheckNumber() {
        const myPrint = document.getElementById('CheckNumber');
        const myPrint1 = document.getElementById('PrintCheck1');
        if (myPrint.style.display == 'none') {
            myPrint.style.display = 'inline';
            myPrint1.style.display = 'none';
            ddaysFilter.checked = 'true';
            filterTable();
        }
    }
</script>