@model IEnumerable<KofCWSCWebsite.Models.TblWebTrxAoi>

@{
    ViewData["Title"] = "Manage Announcements and Of Interest";
}

<h3 class="MyPageHdr">Manage Announcements and Of Interest</h3>
<a href="https://kofcwa.sharepoint.com/sites/WebsiteStorage/Shared%20Documents/Forms/AllItems.aspx" target="_blank">Navigate here to store your documents and use the "Copy Link" to get the document linkURL</a>
<br />

<a href="~/UploadFile">Navigate here to upload your image for GraphicUrl</a>
<p>
    <a asp-action="Create" class="btn btn-success">Create an A or OI</a>
</p>
<p>
    <input type="text" id="myTitleText" onkeyup="myFunction1()" placeholder="Type in Title Text to filter results" title="Type in a number" style="width:25%">
</p>
@if (Model == null)
{
    <div>


        <h2>AOI Not Found</h2>
        <p>
            We are sorry but there are no Announcements or Of Interest Articles found
            <a href='@Url.Action("Index", "Home" )'>Back to Home</a>
        </p>
    </div>
}
else
{


    <table class="table" id="myTable">
        <thead>
            <tr>
                <th class="MyColHdr">
                    <div class="MyColHdr" style="width:25px">
                        @Html.DisplayNameFor(model => model.Type)
                    </div>
                </th>
                <th class="MyColHdr">
                    <div style="width:250px">
                        @Html.DisplayNameFor(model => model.Title)
                    </div>
                </th>
                @*<th>
            <div style="width:250px">
                @Html.DisplayNameFor(model => model.GraphicUrl)
            </div>
        </th>*@
                @*<th>
            <div style="width:30%">
                @Html.DisplayNameFor(model => model.Text)
            </div>
        </th>*@
                @*<th>
            <div style="width:20%">
                @Html.DisplayNameFor(model => model.LinkUrl)
            </div>
        </th>*@
                <th class="MyColHdr">
                    <div style="width:30%">
                        @Html.DisplayNameFor(model => model.PostedDate)
                    </div>
                </th>
                <th class="MyColHdr">
                    <div style="width:10%">
                        @Html.DisplayNameFor(model => model.Expired)
                    </div>
                </th>
                <th class="MyColHdr">
                    <div style="white-space:nowrap; overflow:hidden;text-overflow:ellipsis; max-width:100px" title="Expiration Date">
                        @Html.DisplayNameFor(model => model.ExpirationDate)
                    </div>
                </th>
                <th class="MyColHdr"></th>
                <th class="MyColHdr"></th>
                <th class="MyColHdr"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div style="width:25px">
                            @Html.DisplayFor(modelItem => item.Type)
                        </div>
                    </td>
                    <td>
                        <div style="width:250px">
                            @Html.DisplayFor(modelItem => item.Title)
                        </div>
                    </td>
                    @*<td>
            <div style="width:250px">
                @Html.DisplayFor(modelItem => item.GraphicUrl)
            </div>
        </td>*@
                    @*<td>
            <div style="width:30%">
                @Html.DisplayFor(modelItem => item.Text)
            </div>
        </td>*@
                    @*<td>
            <div style="width:20%">
                @Html.DisplayFor(modelItem => item.LinkUrl)
            </div>
        </td>*@
                    <td>
                        <div style="width:10%">
                            @Html.DisplayFor(modelItem => item.PostedDate)
                        </div>
                    </td>
                    <td>
                        <div style="width:10%">
                            @Html.DisplayFor(modelItem => item.Expired)
                        </div>
                    </td>
                    <td>
                        <div style="width:10%">
                            @Html.DisplayFor(modelItem => item.ExpirationDate)
                        </div>
                    </td>
                    <td style="padding-right:0px">
                        @* <a asp-action="Edit" asp-route-id="@item.MemberId">Edit</a>&nbsp;|&nbsp;<a asp-action="Details" asp-route-id="@item.MemberId">Details</a>&nbsp;|&nbsp;<a asp-action="Delete" asp-route-id="@item.MemberId">Delete</a> *@
                        <form asp-action="Edit" asp-route-id="@item.Id" method="get">
                            <button type="submit" class="btn btn-sm btn-primary">
                                Edit
                            </button>
                        </form>
                    </td>
                    <td style="padding-left:0px;padding-right:0px">
                        <form asp-action="Details" asp-route-id="@item.Id" method="get">
                            <button type="submit" class="btn btn-sm btn-warning">
                                Details
                            </button>
                        </form>
                    </td>
                    <td style="padding-left:0px">
                        <form asp-action="Delete" asp-route-id="@item.Id" method="get">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Delete
                            </button>
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<script>
    function myFunction1() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myTitleText");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>