@model KofCWSCWebsite.Models.TblMasMember

@{
    ViewData["Title"] = "Details";
}

<h1>Directory Info</h1>

<div>
    <h4>Member</h4>
    <hr />
    @if (User.IsInRole("Admin"))
    {
        <form method="post" asp-controller="MemberSuspensions" asp-action="CreateFrom" asp-route-KofCid="@Model.KofCid">
            <button type="submit" class="btn btn-danger">Suspend Member</button>
        </form>
    }
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Prefix)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Prefix)
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.KofCid)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.KofCid)
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Mi)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Mi)
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Suffix)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Suffix)
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.City)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.City)
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.State)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.State)
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.PostalCode)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.PostalCode)
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Phone)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Phone)
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.WifesName)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.WifesName)
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Council)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Council)
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Assembly)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Assembly)
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Deceased)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Deceased)
            </div>
        </div>
    </div>
</div>
<div>
    @if (Context.User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.MemberId">Edit</a>
    }
    @*<a asp-action="Index">Back to List</a>*@
    @{ string myRetVal = "";
        string myHost = Context.Request.Host.ToString();
        string myRefer = Context.Request.Query["ReturnURL"].ToString();
        // strange ReturnURL has value sometimes and sometimes not
        if (myRefer.Length == 0 || myRefer.Contains("TblMasMembers"))
        {
            <a asp-area="" asp-action="@Context.Request.Query["ReturnURL"]" asp-route-nextyear="0">Back</a>
        }
        else
        {
            myRetVal = "https://" + myHost + "/" + myRefer + "/0";
            <a href="@myRetVal">Back</a>
        }
    }
    @*<a href="@myRetVal">Back</a>
        <a asp-area="" asp-action="@Context.Request.Query["ReturnURL"]">Back</a>*@
</div>
