@using KofCWSCWebsite.Services
@model IEnumerable<KofCWSCWebsite.Models.TblMasMemberVM>

@{
    ViewData["Title"] = "Manage Members";
}
<style>
    .container {
        margin-left: 50px !important;
    }
</style>
<h1>Manage Members</h1>
<form class="d-flex" style="width:50%">
    <input class="form-control me-1" type="text" id="myInput" placeholder="Search by Last Name or KofC Member Number" title="Type in all or part of last name or KofC Member ID">
    <button class="btn btn-outline-success" type="button" onclick="getFilteredData()">Search</button>
    <div style="width:50%; vertical-align:central; padding-left:5px; padding-top:7px">
        @ViewData["NoMembers"]
    </div>
</form>

@if (User.IsInRole("Admin") || User.IsInRole("DataAdmin"))
{
    <form asp-controller="TblMasMembers" asp-action="Create" method="get">
        <button type="submit" class="btn btn-sm btn-success">
            Create New
        </button>
    </form>
}


<table class="table" style="table-layout:fixed; text-align:left">
    <thead>
        <tr>
            @if (User.IsInRole("Admin") || User.IsInRole("DataAdmin"))
            {
                <th style="width:55px"></th>
                <th style="width:65px"></th>
                <th style="width:65px"></th>
            }
            <th style="width:100px">
                KofCID
            </th>
            <th style="width:100px">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th style="width:25px">
                @Html.DisplayNameFor(model => model.MI)
            </th>
            <th style="width:100px">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th style="width:200px">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th style="width:130px">
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th style="width:50px">
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th style="width:150px">
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th style="width:150px">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th style="width:250px">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("DataAdmin"))
            {
                <th style="width:40px"></th>
                <th style="width:60px"></th>
                <th style="width:60px"></th>
                <th style="width:40px"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            bool myBDec = item.Deceased ?? false;

            string myDec = myBDec == true ? "background-color:red;color:white" : "";

            <tr>
                @if (User.IsInRole("Admin") || User.IsInRole("DataAdmin"))
                {
                    <td>
                        <form asp-controller="AspNetUserRoles" asp-action="Index" asp-route-id="@item.KofCid" method="get">
                            <button type="submit" class="btn btn-sm btn-warning" title="Manage roles for Member.">
                                Roles
                            </button>
                        </form>
                    </td>
                    <td>
                        <form asp-controller="TblCorrMemberOffices" asp-action="Index" asp-route-id="@item.MemberId" method="get">
                            <button type="submit" class="btn btn-sm btn-primary" title="Manage offices for Member.">
                                Offices
                            </button>
                        </form>
                    </td>
                    <td>
                        <form asp-controller="TblMasMembers" asp-action="FormatMemberData" asp-route-id="@item.MemberId" method="get">
                            <button type="submit" class="btn btn-sm btn-success" title="This will format the member's information, address/city/state/email will go ALLUP and phone number will be formatted (000) 000-0000.">
                                Format
                            </button>
                        </form>
                    </td>
                }
                <td>
                    <span style="@myDec" title="Red Indicates that the Member is Deceased.">
                        @Html.DisplayFor(modelItem => item.KofCid)
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                @*  <td>
                    @Html.DisplayFor(modelItem => item.WifesName)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Council)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Assembly)
                    </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @if (User.IsInRole("Admin") || User.IsInRole("DataAdmin"))
                {
                    <td>
                        @* <a asp-action="Edit" asp-route-id="@item.MemberId">Edit</a>&nbsp;|&nbsp;<a asp-action="Details" asp-route-id="@item.MemberId">Details</a>&nbsp;|&nbsp;<a asp-action="Delete" asp-route-id="@item.MemberId">Delete</a> *@
                        <form asp-controller="TblMasMembers" asp-action="Edit" asp-route-id="@item.MemberId" method="get">
                            <button type="submit" class="btn btn-sm btn-primary">
                                Edit
                            </button>
                        </form>
                    </td>
                    <td>
                        <form asp-controller="TblMasMembers" asp-action="Details" asp-route-id="@item.MemberId" method="get">
                            <button type="submit" class="btn btn-sm btn-warning">
                                Details
                            </button>
                        </form>
                    </td>
                    <td>
                        <form asp-controller="TblMasMembers" asp-action="Delete" asp-route-id="@item.MemberId" method="get">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Delete
                            </button>
                        </form>

                    </td>
                    <td>
                        <form asp-controller="Users" asp-action="EditPhoto" asp-route-id="@item.KofCid" method="get">
                            <button type="submit">
                                @Html.Raw(@Utils.GetPicImage(item.ProfilePictureURL, 21, 25, $"{item.FirstName} {item.LastName}", item.KofCid, User))
                                @*@{
                                        string mytitle = string.Empty;
                                        string myPicURL = Utils.ProcessPicURL(item.ProfilePictureURL);
                                        if (myPicURL.Contains("A"))
                                        {
                                            mytitle = "Picture does not exist. Upload to Profile or Local wwwroot";
                                        }
                                        else if (myPicURL.Contains("missing"))
                                        {
                                            mytitle = "Picture is not in Member's Profile";
                                        }
                                        else
                                        {
                                            mytitle = $"{item.FirstName} {item.LastName}";
                                        }
                                    }
                                        <img src="@myPicURL"
                                             alt="Profile Picture"
                                             class="card-img-top"
                                             title="@mytitle"
                                             style="width: 21px; height:25px; object-fit: cover; background-color:white" />*@

                            </button>
                        </form>

                    </td>

                }
            </tr>
        }
    </tbody>
</table>
<script>
    function getFilteredData() {
        //****************************************************************************
        // so i went round and round trying to figure out how get the filter string
        // and build a url to get the data and come back to this page.  Url.Action
        // always gives you the previous parameter(s) so the final URL was not exactly
        // what I was looking for so I built it by hand.
        // ***************************************************************************
        var input = document.getElementById("myInput");
        var filter = input.value;
        var host = window.location.host;
        // not pretty but it works
        location.href = "https://" + host + "/tblMasMembers/Index/?lastname=" + filter;

        // this works to but has the previous parameters stuck on
        //location.href = '@Url.Action("Index", "tblMasMembers")?lastname=' + filter;
    }
</script>