@model IEnumerable<KofCWSCWebsite.Models.TblMasMember>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<input type="text" id="myInput" placeholder="Search by Member Last Name" title="Type in all or part of last name" style="width:25%">
<button type="button" onclick="getFilteredData()">Search</button>
@* <a asp-controller="TblMasMembers" asp-action="Index" asp-route-id= >Search</a> *@
@ViewData["NoMembers"]

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="table-layout:fixed; text-align:left">
    <thead>
        <tr>
            <th style="width:75px">
                @Html.DisplayNameFor(model => model.KofCid)
            </th>
            <th style="width:100px">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            @* <th>
            @Html.DisplayNameFor(model => model.Mi)
            </th> *@
            <th style="width:100px">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th style="width:200px">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th style="width:130px">
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th style="width:50px">
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th style="width:150px">
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th style="width:150px">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            @*  <th style="width:100px">
            @Html.DisplayNameFor(model => model.WifesName)
            </th>
            <th style="width:100px">
            @Html.DisplayNameFor(model => model.Council)
            </th>
            <th style="width:100px">
            @Html.DisplayNameFor(model => model.Assembly)
            </th> *@
            <th style="width:250px">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th style="width:200px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KofCid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                @*  <td>
            @Html.DisplayFor(modelItem => item.Mi)
            </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                @*  <td>
            @Html.DisplayFor(modelItem => item.WifesName)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Council)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Assembly)
            </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MemberId">Edit</a>&nbsp;|&nbsp;<a asp-action="Details" asp-route-id="@item.MemberId">Details</a>&nbsp;|&nbsp;<a asp-action="Delete" asp-route-id="@item.MemberId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function getFilteredData() {
        //****************************************************************************
        // so i went round and round trying to figure out how get the filter string
        // and build a url to get the data and come back to this page.  Url.Action
        // always gives you the previous parameter(s) so the final URL was not exactly
        // what I was looking for so I built it by hand.
        // ***************************************************************************
        var input = document.getElementById("myInput");
        var filter = input.value;
        var host = window.location.host;
        // not pretty but it works
        location.href = "https://" + host + "/tblMasMembers/Index/?lastname=" + filter;
        
        // this works to but has the previous parameters stuck on 
        //location.href = '@Url.Action("Index", "tblMasMembers")?lastname=' + filter;
    }
</script>