@model KofCWSCWebsite.Models.CvnImpDelegate

@{
    ViewData["Title"] = "Edit";
}
<style>
    .ExistingData {
        background-color: lightgray;
        color: black;
    }
</style>
<h1>Edit Convention Delegate Import</h1>

<h4>Raw Imported Data from the CSV Import for Council @Model.CouncilNumber - @Model.CouncilName</h4>
@ViewBag.Validate
@ViewBag.Validate2
@{
    string myValidate = ViewBag.Validate;
    string myMemVD1 = "";
    string myMemVD2 = "";
    string myMemVA1 = "";
    string myMemVA2 = "";
    string myMemD1Title = "";
    string myMemD2Title = "";
    string myMemA1Title = "";
    string myMemA2Title = "";

    string myValidate2 = ViewBag.Validate2;
    // Set D1 control colors
    string myMemD1IFN = myValidate2.Contains("D1IFN") ? "color:red" : "";
    string myMemD1IMN = myValidate2.Contains("D1IMN") ? "color:red" : "";
    string myMemD1ILN = myValidate2.Contains("D1ILN") ? "color:red" : "";
    string myMemD1ISX = myValidate2.Contains("D1ISX") ? "color:red" : "";
    string myMemD1IAD = myValidate2.Contains("D1IAD") ? "color:red" : "";
    string myMemD1ICT = myValidate2.Contains("D1ICT") ? "color:red" : "";
    string myMemD1IST = myValidate2.Contains("D1IST") ? "color:red" : "";
    string myMemD1IZP = myValidate2.Contains("D1IZP") ? "color:red" : "";
    string myMemD1IPH = myValidate2.Contains("D1IPH") ? "color:red" : "";
    string myMemD1IEM = myValidate2.Contains("D1IEM") ? "color:red" : "";
    // Set D2 control colors
    string myMemD2IFN = myValidate2.Contains("D2IFN") ? "color:red" : "";
    string myMemD2IMN = myValidate2.Contains("D2IMN") ? "color:red" : "";
    string myMemD2ILN = myValidate2.Contains("D2ILN") ? "color:red" : "";
    string myMemD2ISX = myValidate2.Contains("D2ISX") ? "color:red" : "";
    string myMemD2IAD = myValidate2.Contains("D2IAD") ? "color:red" : "";
    string myMemD2ICT = myValidate2.Contains("D2ICT") ? "color:red" : "";
    string myMemD2IST = myValidate2.Contains("D2IST") ? "color:red" : "";
    string myMemD2IZP = myValidate2.Contains("D2IZP") ? "color:red" : "";
    string myMemD2IPH = myValidate2.Contains("D2IPH") ? "color:red" : "";
    string myMemD2IEM = myValidate2.Contains("D2IEM") ? "color:red" : "";
    // Set A1 control colors
    string myMemA1IFN = myValidate2.Contains("A1IFN") ? "color:red" : "";
    string myMemA1IMN = myValidate2.Contains("A1IMN") ? "color:red" : "";
    string myMemA1ILN = myValidate2.Contains("A1ILN") ? "color:red" : "";
    string myMemA1ISX = myValidate2.Contains("A1ISX") ? "color:red" : "";
    string myMemA1IAD = myValidate2.Contains("A1IAD") ? "color:red" : "";
    string myMemA1ICT = myValidate2.Contains("A1ICT") ? "color:red" : "";
    string myMemA1IST = myValidate2.Contains("A1IST") ? "color:red" : "";
    string myMemA1IZP = myValidate2.Contains("A1IZP") ? "color:red" : "";
    string myMemA1IPH = myValidate2.Contains("A1IPH") ? "color:red" : "";
    string myMemA1IEM = myValidate2.Contains("A1IEM") ? "color:red" : "";
    // Set A2 control colors
    string myMemA2IFN = myValidate2.Contains("A2IFN") ? "color:red" : "";
    string myMemA2IMN = myValidate2.Contains("A2IMN") ? "color:red" : "";
    string myMemA2ILN = myValidate2.Contains("A2ILN") ? "color:red" : "";
    string myMemA2ISX = myValidate2.Contains("A2ISX") ? "color:red" : "";
    string myMemA2IAD = myValidate2.Contains("A2IAD") ? "color:red" : "";
    string myMemA2ICT = myValidate2.Contains("A2ICT") ? "color:red" : "";
    string myMemA2IST = myValidate2.Contains("A2IST") ? "color:red" : "";
    string myMemA2IZP = myValidate2.Contains("A2IZP") ? "color:red" : "";
    string myMemA2IPH = myValidate2.Contains("A2IPH") ? "color:red" : "";
    string myMemA2IEM = myValidate2.Contains("A2IEM") ? "color:red" : "";


    if (myValidate.Contains("VMD1MISSING"))
    {
        myMemVD1 = "style=color:red";
        myMemD2Title = "Delegate #1 is missing from our data";
    }
    if (myValidate.Contains("VMD2MISSING"))
    {
        myMemVD2 = "style=color:red";
        myMemD2Title = "Delegate #2 is missing from our data";
    }
    if (myValidate.Contains("VMA1MISSING"))
    {
        myMemVA1 = "style=color:red";
        myMemA1Title = "Alternate #1 is missing from our data";
    }
    if (myValidate.Contains("VMA2MISSING"))
    {
        myMemVA2 = "style=color:red";
        myMemA2Title = "Alternate #2 is missing from our data";
    }
    if (myValidate.Contains("VCMISSING"))
    { <h4 style="color:red">Council is missing.  Please check the data and add it using the Manage Councils Menu.</h4>}
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrUpdateFromDelImp" asp-controller="TblMasMembers" asp-route-id="@Model.Id">
            <input asp-for="RecType" type="hidden" class="form-control" value="U" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table">
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="SubmissionDate" class="control-label" style="font-weight:bold"></label>
                            <input type="date" asp-for="SubmissionDate" class="form-control" readonly />
                            <span asp-validation-for="SubmissionDate" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="FormSubmitterSEmail" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="FormSubmitterSEmail" class="form-control" readonly style="width:auto" />
                            <span asp-validation-for="FormSubmitterSEmail" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="CouncilNumber" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="CouncilNumber" class="form-control" />
                            <span asp-validation-for="CouncilNumber" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group" style="float:right">
                            <label asp-for="CouncilName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="CouncilName" class="form-control" readonly style="width:auto" />
                            <span asp-validation-for="CouncilName" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                @***************************************************************************************@
                @*Begin Delegate #1 Box*@
                <tr style="border-top:solid;border-left:solid;border-right:solid">
                    <td @myMemVD1 title="@myMemD1Title"><h3>Delegate #1</h3></td>
                    <td></td>
                    <td></td>
                    <td>
                        @if (!myValidate.Contains("VCMISSING"))
                        {
                            @if (myValidate.Contains("VMD1MISSING"))
                            {
                                <input type="submit" name="action" value="Add D1 New Member" class="btn btn-primary" />
                            }
                            @if (myValidate2.Contains("D1I"))
                            {
                                <input type="submit" name="action" value="Update D1 Existing Member" class="btn btn-primary" />
                            }
                        }
                    </td>
                </tr>
                <tr style="border-left:solid;border-right:solid">
                    <td>
                        <div class="form-group">
                            <label asp-for="D1MemberID" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="D1MemberID" class="form-control" />
                            <span asp-validation-for="D1MemberID" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="ED1MemberID" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="ED1MemberID" class="form-control ExistingData" />
                            <span asp-validation-for="ED1MemberID" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="D1Phone" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="D1Phone" class="form-control" style="@myMemD1IPH" />
                            <span asp-validation-for="D1Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="ED1Phone" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="ED1Phone" class="form-control ExistingData" style="@myMemD1IPH" />
                            <span asp-validation-for="ED1Phone" class="text-danger"></span>
                        </div>
                    </td>
                    <td colspan="2">
                        <div class="form-group">
                            <label asp-for="D1Email" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="D1Email" class="form-control" style="@myMemD1IEM" />
                            <span asp-validation-for="D1Email" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="ED1Email" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="ED1Email" class="form-control ExistingData" style="@myMemD1IEM" />
                            <span asp-validation-for="ED1Email" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr style="border-left:solid;border-right:solid">

                    <td>
                        <div class="form-group">
                            <label asp-for="D1FirstName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="D1FirstName" class="form-control" style="@myMemD1IFN" />
                            <span asp-validation-for="D1FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="ED1FirstName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="ED1FirstName" class="form-control ExistingData" style="@myMemD1IFN" />
                            <span asp-validation-for="ED1FirstName" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="D1MiddleName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="D1MiddleName" class="form-control" style="width:auto;@myMemD1IMN" />
                            <span asp-validation-for="D1MiddleName" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="ED1MiddleName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="ED1MiddleName" class="form-control ExistingData" style="width:auto;@myMemD1IMN" />
                            <span asp-validation-for="ED1MiddleName" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="D1LastName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="D1LastName" class="form-control" style="width:auto;@myMemD1ILN" />
                            <span asp-validation-for="D1LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="ED1LastName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="ED1LastName" class="form-control ExistingData" style="width:auto;@myMemD1ILN" />
                            <span asp-validation-for="ED1LastName" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="D1Suffix" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="D1Suffix" class="form-control" style="@myMemD1ISX" />
                            <span asp-validation-for="D1Suffix" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="ED1Suffix" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="ED1Suffix" class="form-control ExistingData" style="@myMemD1ISX" />
                            <span asp-validation-for="ED1Suffix" class="text-danger"></span>
                        </div>

                    </td>
                </tr>
                <tr style="border-left: solid; border-right: solid; border-bottom: solid">
                    <td>
                        <div class="form-group">
                            <label asp-for="D1Address1" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="D1Address1" class="form-control" style="width:auto;@myMemD1IAD" />
                            <span asp-validation-for="D1Address1" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="ED1Address1" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="ED1Address1" class="form-control ExistingData" style="width:auto;@myMemD1IAD" />
                            <span asp-validation-for="ED1Address1" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="D1City" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="D1City" class="form-control" style="@myMemD1ICT" />
                            <span asp-validation-for="D1City" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="ED1City" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="ED1City" class="form-control ExistingData" style="@myMemD1ICT" />
                            <span asp-validation-for="ED1City" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="D1State" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="D1State" class="form-control" style="@myMemD1IST" />
                            <span asp-validation-for="D1State" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="ED1State" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="ED1State" class="form-control ExistingData" style="@myMemD1IST" />
                            <span asp-validation-for="ED1State" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="D1ZipCode" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="D1ZipCode" class="form-control" style="width:auto;@myMemD1IZP" />
                            <span asp-validation-for="D1ZipCode" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="ED1ZipCode" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="ED1ZipCode" class="form-control ExistingData" style="width:auto;@myMemD1IZP" />
                            <span asp-validation-for="ED1ZipCode" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                @*End Delegate #1 Box*@
                @***************************************************************************************@
                @*Begin Delegate #2 Box*@
                <tr style="border-top:solid;border-left:solid;border-right:solid">
                    <td @myMemVD2 title="@myMemD2Title"><h3>Delegate #2</h3></td>
                    <td></td>
                    <td></td>
                    <td>
                        @if (!myValidate.Contains("VCMISSING"))
                        {
                            @if (myValidate.Contains("VMD2MISSING"))
                            {
                                <input type="submit" name="action" value="Add D2 New Member" class="btn btn-primary" />
                            }
                            @if (myValidate2.Contains("D2I"))
                            {
                                <input type="submit" name="action" value="Update D2 Existing Member" class="btn btn-primary" />
                            }
                        }
                    </td>
                </tr>
                <tr style="border-left:solid;border-right:solid">
                    <td>
                        <div class="form-group">
                            <label asp-for="D2MemberID" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="D2MemberID" class="form-control" />
                            <span asp-validation-for="D2MemberID" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="ED2MemberID" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="ED2MemberID" class="form-control ExistingData" />
                            <span asp-validation-for="ED2MemberID" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="D2Phone" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="D2Phone" class="form-control" style="@myMemD2IPH" />
                            <span asp-validation-for="D2Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="ED2Phone" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="ED2Phone" class="form-control ExistingData" style="@myMemD2IPH" />
                            <span asp-validation-for="ED2Phone" class="text-danger"></span>
                        </div>
                    </td>
                    <td colspan="2">
                        <div class="form-group">
                            <label asp-for="D2Email" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="D2Email" class="form-control" style="@myMemD2IEM" />
                            <span asp-validation-for="D2Email" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="ED2Email" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="ED2Email" class="form-control ExistingData" style="@myMemD2IEM" />
                            <span asp-validation-for="ED2Email" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr style="border-left:solid;border-right:solid">

                    <td>
                        <div class="form-group">
                            <label asp-for="D2FirstName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="D2FirstName" class="form-control" style="@myMemD2IFN" />
                            <span asp-validation-for="D2FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="ED2FirstName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="ED2FirstName" class="form-control ExistingData" style="@myMemD2IFN" />
                            <span asp-validation-for="ED2FirstName" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="D2MiddleName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="D2MiddleName" class="form-control" style="width:auto;@myMemD2IMN" />
                            <span asp-validation-for="D2MiddleName" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="ED2MiddleName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="ED2MiddleName" class="form-control ExistingData" style="width:auto;@myMemD2IMN" />
                            <span asp-validation-for="ED2MiddleName" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="D2LastName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="D2LastName" class="form-control" style="width:auto;@myMemD2ILN" />
                            <span asp-validation-for="D2LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="ED2LastName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="ED2LastName" class="form-control ExistingData" style="width:auto;@myMemD2ILN" />
                            <span asp-validation-for="ED2LastName" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="D2Suffix" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="D2Suffix" class="form-control" style="@myMemD2ISX" />
                            <span asp-validation-for="D2Suffix" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="ED2Suffix" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="ED2Suffix" class="form-control ExistingData" style="@myMemD2ISX" />
                            <span asp-validation-for="ED2Suffix" class="text-danger"></span>
                        </div>

                    </td>
                </tr>
                <tr style="border-left: solid; border-right: solid; border-bottom: solid">
                    <td>
                        <div class="form-group">
                            <label asp-for="D2Address1" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="D2Address1" class="form-control" style="width:auto;@myMemD2IAD" />
                            <span asp-validation-for="D2Address1" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="ED2Address1" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="ED2Address1" class="form-control ExistingData" style="width:auto;@myMemD2IAD" />
                            <span asp-validation-for="ED2Address1" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="D2City" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="D2City" class="form-control" style="@myMemD2ICT" />
                            <span asp-validation-for="D2City" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="ED2City" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="ED2City" class="form-control ExistingData" style="@myMemD2ICT" />
                            <span asp-validation-for="ED2City" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="D2State" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="D2State" class="form-control" style="@myMemD2IST" />
                            <span asp-validation-for="D2State" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="ED2State" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="ED2State" class="form-control ExistingData" style="@myMemD2IST" />
                            <span asp-validation-for="ED2State" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="D2ZipCode" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="D2ZipCode" class="form-control" style="width:auto;@myMemD2IZP" />
                            <span asp-validation-for="D2ZipCode" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="ED2ZipCode" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="ED2ZipCode" class="form-control ExistingData" style="width:auto;@myMemD2IZP" />
                            <span asp-validation-for="ED2ZipCode" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                @*End Delegate #2 Box*@
                @***************************************************************************************@
                @*Begin Alternate #1 Box*@
                <tr style="border-top:solid;border-left:solid;border-right:solid">
                    <td @myMemVA1 title="@myMemA1Title"><h3>Alternate #1</h3></td>
                    <td></td>
                    <td></td>
                    <td>
                        @if (!myValidate.Contains("VCMISSING"))
                        {
                            @if (myValidate.Contains("VMA1MISSING"))
                            {
                                <input type="submit" name="action" value="Add A1 New Member" class="btn btn-primary" />
                            }
                            @if (myValidate2.Contains("A1I"))
                            {
                                <input type="submit" name="action" value="Update A1 Existing Member" class="btn btn-primary" />
                            }
                        }
                    </td>
                </tr>
                <tr style="border-left:solid;border-right:solid">
                    <td>
                        <div class="form-group">
                            <label asp-for="A1MemberID" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="A1MemberID" class="form-control" />
                            <span asp-validation-for="A1MemberID" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="EA1MemberID" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="EA1MemberID" class="form-control ExistingData" />
                            <span asp-validation-for="EA1MemberID" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="A1Phone" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="A1Phone" class="form-control" style="@myMemA1IPH" />
                            <span asp-validation-for="A1Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="EA1Phone" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="EA1Phone" class="form-control ExistingData" style="@myMemA1IPH" />
                            <span asp-validation-for="EA1Phone" class="text-danger"></span>
                        </div>
                    </td>
                    <td colspan="2">
                        <div class="form-group">
                            <label asp-for="A1Email" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="A1Email" class="form-control" style="@myMemA1IEM" />
                            <span asp-validation-for="A1Email" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="EA1Email" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="EA1Email" class="form-control ExistingData" style="@myMemA1IEM" />
                            <span asp-validation-for="EA1Email" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr style="border-left:solid;border-right:solid">

                    <td>
                        <div class="form-group">
                            <label asp-for="A1FirstName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="A1FirstName" class="form-control" style="@myMemA1IFN" />
                            <span asp-validation-for="A1FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="EA1FirstName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="EA1FirstName" class="form-control ExistingData" style="@myMemA1IFN" />
                            <span asp-validation-for="EA1FirstName" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="A1MiddleName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="A1MiddleName" class="form-control" style="width:auto;@myMemA1IMN" />
                            <span asp-validation-for="A1MiddleName" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="EA1MiddleName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="EA1MiddleName" class="form-control ExistingData" style="width:auto;@myMemA1IMN" />
                            <span asp-validation-for="EA1MiddleName" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="A1LastName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="A1LastName" class="form-control" style="width:auto;@myMemA1ILN" />
                            <span asp-validation-for="A1LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="EA1LastName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="EA1LastName" class="form-control ExistingData" style="width:auto;@myMemA1ILN" />
                            <span asp-validation-for="EA1LastName" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="A1Suffix" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="A1Suffix" class="form-control" style="@myMemA1ISX" />
                            <span asp-validation-for="A1Suffix" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="EA1Suffix" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="EA1Suffix" class="form-control ExistingData" style="@myMemA1ISX" />
                            <span asp-validation-for="EA1Suffix" class="text-danger"></span>
                        </div>

                    </td>
                </tr>
                <tr style="border-left: solid; border-right: solid; border-bottom: solid">
                    <td>
                        <div class="form-group">
                            <label asp-for="A1Address1" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="A1Address1" class="form-control" style="width:auto;@myMemA1IAD" />
                            <span asp-validation-for="A1Address1" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="EA1Address1" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="EA1Address1" class="form-control ExistingData" style="width:auto;@myMemA1IAD" />
                            <span asp-validation-for="EA1Address1" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="A1City" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="A1City" class="form-control" style="@myMemA1ICT" />
                            <span asp-validation-for="A1City" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="EA1City" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="EA1City" class="form-control ExistingData" style="@myMemA1ICT" />
                            <span asp-validation-for="EA1City" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="A1State" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="A1State" class="form-control" style="@myMemA1IST" />
                            <span asp-validation-for="A1State" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="EA1State" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="EA1State" class="form-control ExistingData" style="@myMemA1IST" />
                            <span asp-validation-for="EA1State" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="A1ZipCode" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="A1ZipCode" class="form-control" style="width:auto;@myMemA1IZP" />
                            <span asp-validation-for="A1ZipCode" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="EA1ZipCode" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="EA1ZipCode" class="form-control ExistingData" style="width:auto;@myMemA1IZP" />
                            <span asp-validation-for="EA1ZipCode" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                @*End Alternate #1 Box*@
                @***************************************************************************************@
                @*Begin Alternate #2 Box*@
                <tr style="border-top:solid;border-left:solid;border-right:solid">
                    <td @myMemVA2 title="@myMemA2Title"><h3>Alternate #2</h3></td>
                    <td></td>
                    <td></td>
                    <td>
                        @if (!myValidate.Contains("VCMISSING"))
                        {
                            @if (myValidate.Contains("VMA2MISSING"))
                            {
                                <input type="submit" name="action" value="Add A2 New Member" class="btn btn-primary" />
                            }
                            @if (myValidate2.Contains("A2I"))
                            {
                                <input type="submit" name="action" value="Update A2 Existing Member" class="btn btn-primary" />
                            }
                        }
                    </td>
                </tr>
                <tr style="border-left:solid;border-right:solid">
                    <td>
                        <div class="form-group">
                            <label asp-for="A2MemberID" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="A2MemberID" class="form-control" />
                            <span asp-validation-for="A2MemberID" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="EA2MemberID" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="EA2MemberID" class="form-control ExistingData" />
                            <span asp-validation-for="EA2MemberID" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="A2Phone" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="A2Phone" class="form-control" style="@myMemA2IPH" />
                            <span asp-validation-for="A2Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="EA2Phone" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="EA2Phone" class="form-control ExistingData" style="@myMemA2IPH" />
                            <span asp-validation-for="EA2Phone" class="text-danger"></span>
                        </div>
                    </td>
                    <td colspan="2">
                        <div class="form-group">
                            <label asp-for="A2Email" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="A2Email" class="form-control" style="@myMemA2IEM" />
                            <span asp-validation-for="A2Email" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="EA2Email" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="EA2Email" class="form-control ExistingData" style="@myMemA2IEM" />
                            <span asp-validation-for="EA2Email" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr style="border-left:solid;border-right:solid">

                    <td>
                        <div class="form-group">
                            <label asp-for="A2FirstName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="A2FirstName" class="form-control" style="@myMemA2IFN" />
                            <span asp-validation-for="A2FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="EA2FirstName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="EA2FirstName" class="form-control ExistingData" style="@myMemA2IFN" />
                            <span asp-validation-for="EA2FirstName" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="A2MiddleName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="A2MiddleName" class="form-control" style="width:auto;@myMemA2IMN" />
                            <span asp-validation-for="A2MiddleName" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="EA2MiddleName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="EA2MiddleName" class="form-control ExistingData" style="width:auto;@myMemA2IMN" />
                            <span asp-validation-for="EA2MiddleName" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="A2LastName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="A2LastName" class="form-control" style="width:auto;@myMemA2ILN" />
                            <span asp-validation-for="A2LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="EA2LastName" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="EA2LastName" class="form-control ExistingData" style="width:auto;@myMemA2ILN" />
                            <span asp-validation-for="EA2LastName" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="A2Suffix" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="A2Suffix" class="form-control" style="@myMemA2ISX" />
                            <span asp-validation-for="A2Suffix" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="EA2Suffix" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="EA2Suffix" class="form-control ExistingData" style="@myMemA2ISX" />
                            <span asp-validation-for="EA2Suffix" class="text-danger"></span>
                        </div>

                    </td>
                </tr>
                <tr style="border-left: solid; border-right: solid; border-bottom: solid">
                    <td>
                        <div class="form-group">
                            <label asp-for="A2Address1" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="A2Address1" class="form-control" style="width:auto;@myMemA2IAD" />
                            <span asp-validation-for="A2Address1" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="EA2Address1" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="EA2Address1" class="form-control ExistingData" style="width:auto;@myMemA2IAD" />
                            <span asp-validation-for="EA2Address1" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="A2City" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="A2City" class="form-control" style="@myMemA2ICT" />
                            <span asp-validation-for="A2City" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="EA2City" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="EA2City" class="form-control ExistingData" style="@myMemA2ICT" />
                            <span asp-validation-for="EA2City" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="A2State" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="A2State" class="form-control" style="@myMemA2IST" />
                            <span asp-validation-for="A2State" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="EA2State" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="EA2State" class="form-control ExistingData" style="@myMemA2IST" />
                            <span asp-validation-for="EA2State" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="A2ZipCode" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="A2ZipCode" class="form-control" style="width:auto;@myMemA2IZP" />
                            <span asp-validation-for="A2ZipCode" class="text-danger"></span>
                        </div>
                        <div class="form-group ExistingData">
                            <label asp-for="EA2ZipCode" class="control-label" style="font-weight:bold"></label>
                            <input asp-for="EA2ZipCode" class="form-control ExistingData" style="width:auto;@myMemA2IZP" />
                            <span asp-validation-for="EA2ZipCode" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                @*End Alternate #1 Box*@
                @***************************************************************************************@
            </table>
            @if (!myValidate.Contains("VCMISSING"))
            {
                <div class="form-group">
                    <input type="submit" name="action" value="Save Delegate Changes" class="btn btn-primary" />
                </div>
            }
            </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}