@using KofCWSCWebsite.Services;
@model IEnumerable<KofCWSCWebsite.Models.CvnImpDelegate>

@{
    ViewData["Title"] = "Index";
}

<h1>Edit Imported Delegates</h1>
<h6>@ViewBag.Message</h6>

<div style="float:left">
    <div style="float:left">
        <form asp-controller="CvnImpDelegates" asp-action="Create" method="get" title="This will create a new Council's Delegates">
            <button type="submit" class="btn btn-sm btn-success">
                Create A Manual Council Import Record
            </button>
        </form>
    </div>
    <div style="float:right" title="This will create the acutal delegate records based on this list of members.">
        <form asp-controller="CvnImpDelegates" asp-action="CreateDelegates" method="get">
            <button type="submit" class="btn btn-sm btn-danger">
                Add Delegate Records
            </button>
        </form>
    </div>
</div>
<div title="At least 1 member is missing." style="background-color:yellow;float:right;padding-left:5px;padding-right:5px">
    MISSING MEMBER
</div>
<div title="At least 1 member has updated information." style="background-color: orange; float: right; padding-left: 5px; padding-right: 5px">
    UPDATED MEMBER INFORMATION
</div>
<div title="Should not happend. Data validated on input to form." style="background-color: red; float: right; padding-left: 5px; padding-right: 5px">
    MISSING COUNCIL
</div>
<div style="float: right; padding-left: 5px; padding-right: 5px">
    Hover over the colors in the left column to see a message.
</div>
<table class="table">
    <thead>
        <tr>
            <th style="width:auto" title="Legend">Leg</th>
            <th title="Record Type (M)anual, (I)mported, (U)pdated" style="text-align:center">
                RT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormSubmitterSEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouncilName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouncilNumber)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string myCMI = Utils.CompareMemberInfo(item);
            string myMMValid = "";
            string myMCValid = "";
            string myUMValid = "";
            string myValidTitle = "";

            if (item.Validation.Contains("VCMISSING"))
            {
                myMCValid = "background-color:red;color:white";
                myValidTitle += "Council does not exist; ";
            }
            if (item.Validation.Contains("VMD1MISSING"))
            {
                myMMValid = "background-color:yellow";
                myValidTitle += "Delegate 1 Member does not exist; ";
            }
            if (item.Validation.Contains("VMD2MISSING"))
            {
                myMMValid = "background-color:yellow";
                myValidTitle += "Delegate 2 Member does not exist; ";
            }
            if (item.Validation.Contains("VMA1MISSING"))
            {
                myMMValid = "background-color:yellow";
                myValidTitle += "Alternate 1 Member does not exist; ";
            }
            if (item.Validation.Contains("VMA2MISSING"))
            {
                myMMValid = "background-color:yellow";
                myValidTitle += "Alternate 2 Member does not exist; ";
            }
            if (myCMI.Contains("D1I"))
            {
                myUMValid = "background-color:orange";
                myValidTitle += "Delegate #1 has updated Member Information; ";
            }
            if (myCMI.Contains("D2I"))
            {
                myUMValid = "background-color:orange";
                myValidTitle += "Delegate #2 has updated Member Information; ";
            }
            if (myCMI.Contains("A1I"))
            {
                myUMValid = "background-color:orange";
                myValidTitle += "Alternate #1 has updated Member Information; ";
            }
            if (myCMI.Contains("A2I"))
            {
                myUMValid = "background-color:orange";
                myValidTitle += "Alternate #2 has updated Member Information; ";
            }
            string myTitle = "";

            switch (item.RecType)
            {
                case "I":
                    myTitle = "Imported";
                    break;
                case "M":
                    myTitle = "Manual";
                    break;
                case "U":
                    myTitle = "Updated";
                    break;
                default:
                    myTitle = "Unknown";
                    break;
            }

            if (item.RecType == "I")
            {
                myTitle = "Imported";
            }
            else
            {
                myTitle = "Manual";
            }

            <tr>
                <td style="text-align:center;width:65px" title="@myValidTitle">
                    <div style="width:15px;float:left;@myUMValid">&nbsp;&nbsp;&nbsp;</div>
                    <div style="width:15px;float: right; @myMCValid">&nbsp;&nbsp;&nbsp;</div>
                    <div style="width:15px;float: right; @myMMValid">&nbsp;&nbsp;&nbsp;</div>
                </td>
                <td style="text-align:center" title="@myTitle">
                    @*@myCMI;
                        @item.Validation;*@
                    @Html.DisplayFor(modelItem => item.RecType)
                </td>
                <td title="@myValidTitle">
                    @Html.DisplayFor(modelItem => item.SubmissionDate)
                </td>
                <td title="@myValidTitle">
                    @Html.DisplayFor(modelItem => item.FormSubmitterSEmail)
                </td>
                <td title="@myValidTitle">
                    @Html.DisplayFor(modelItem => item.CouncilName)
                </td>
                <td title="@myValidTitle">
                    @Html.DisplayFor(modelItem => item.CouncilNumber)
                </td>
                <td style="padding-right:0px">
                    @* <a asp-action="Edit" asp-route-id="@item.MemberId">Edit</a>&nbsp;|&nbsp;<a asp-action="Details" asp-route-id="@item.MemberId">Details</a>&nbsp;|&nbsp;<a asp-action="Delete" asp-route-id="@item.MemberId">Delete</a> *@
                    <form asp-action="Edit" asp-route-id="@item.Id" asp-route-validate="@item.Validation" asp-route-validate2="@myCMI" method="get">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Edit
                        </button>
                    </form>

                </td>
                <td style="padding-left:0px;padding-right:0px">
                    <form asp-action="Details" asp-route-id="@item.Id" method="get">
                        <button type="submit" class="btn btn-sm btn-warning">
                            Details
                        </button>
                    </form>
                </td>
                <td style="padding-left:0px">
                    <form asp-action="Delete" asp-route-id="@item.Id" method="get">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>
