@model IEnumerable<KofCWSCWebsite.Models.CvnImpDelegateIMP>

@{
    ViewData["Title"] = "IndexIMP";
}

<h1>Raw Delegate Data</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormSubmitterSEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouncilName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouncilNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubmissionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormSubmitterSEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CouncilName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CouncilNumber)
            </td>
            <td>
                <a asp-action="EditIMP" asp-route-id="@item.Id">Edit</a> |
                @*<a asp-action="DetailsIMP" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="DeleteIMP" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
