@model IEnumerable<KofCWSCWebsite.Models.TblSysTrxEvent>

@{
    ViewData["Title"] = "Index";
}

<h1>Calendar Items</h1>

<p>
    <form asp-controller="TblSysTrxEvents" asp-action="Create" method="get">
        <button type="submit" class="btn btn-sm btn-success">
            Create A New Event
        </button>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Begin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isAllDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttachUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Begin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAllDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttachUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td style="padding-right:0px">
                    @* <a asp-action="Edit" asp-route-id="@item.MemberId">Edit</a>&nbsp;|&nbsp;<a asp-action="Details" asp-route-id="@item.MemberId">Details</a>&nbsp;|&nbsp;<a asp-action="Delete" asp-route-id="@item.MemberId">Delete</a> *@
                    <form asp-action="Edit" asp-route-id="@item.Id" method="get">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Edit
                        </button>
                    </form>
                </td>
                <td style="padding-left:0px;padding-right:0px">
                    <form asp-action="Details" asp-route-id="@item.Id" method="get">
                        <button type="submit" class="btn btn-sm btn-warning">
                            Details
                        </button>
                    </form>
                </td>
                <td style="padding-left:0px">
                    <form asp-action="Delete" asp-route-id="@item.Id" method="get">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>

                </td>
            }
        </tr>
}
    </tbody>
</table>
