@model IEnumerable<KofCWSCWebsite.Models.TblWebSelfPublish>

@{
    ViewData["Title"] = "Messages";
}

<h1 class="MyPageHdr">Manage Webpage Messages</h1>
<p>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Type in a URL text to filter results" title="Type in a name" style="width:25%">
</p>
<p>
    <a asp-action="Create" class="btn btn-success">Create a Message</a>
</p>
<table class="table" id="myTable" style="table-layout:fixed">
    <thead>
        <tr>
            <th class="MyColHdr" style="width:200px">
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th class="MyColHdr" style="width:840px">
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th class="MyColHdr" style="width:50px">
                @Html.DisplayNameFor(model => model.OID)
            </th>
            <th class="MyColHdr"></th>
            <th class="MyColHdr"></th>
            <th class="MyColHdr"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.Raw(item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OID)
            </td>
            <td style="padding-right:0px">
                @* <a asp-action="Edit" asp-route-id="@item.MemberId">Edit</a>&nbsp;|&nbsp;<a asp-action="Details" asp-route-id="@item.MemberId">Details</a>&nbsp;|&nbsp;<a asp-action="Delete" asp-route-id="@item.MemberId">Delete</a> *@
                <form asp-action="Edit" asp-route-id="@item.Url" method="get">
                    <button type="submit" class="btn btn-sm btn-primary">
                        Edit
                    </button>
                </form>
            </td>
            <td style="padding-left:0px;padding-right:0px">
                <form asp-action="Details" asp-route-id="@item.Url" method="get">
                    <button type="submit" class="btn btn-sm btn-warning">
                        Details
                    </button>
                </form>
            </td>
            <td style="padding-left:0px">
                <form asp-action="Delete" asp-route-id="@item.Url" method="get">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>

            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>