@model IEnumerable<KofCWSCWebsite.Models.SPGetChairmanInfoBlock>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    var myHeading = @Model.First();
    <h1 class="MyPageHdr">@myHeading.Heading</h1>
}
<div>
    <h3>2024 Blanchet Province</h3>
    <img src="/images/FourthDegOfficers/2024BlanchetProvinceDM.jpeg" alt="2024 Blanchet Province Vice Supreme Master, District Masters, and Former District Master at provincial meeting Oct. 12, 2024, Richland, WA" width="1000" align="center">
    <p>Pictured above from Fourth Degree Provincial Meeting on Oct. 12, 2024 held at the Columbian Club, Richland, WA.</p>
</div>
<table class="table">
    <tr>
        <td style="width:50%">
            <div>
                @foreach (var item in Model)
                {
                    if (item.Title == "Supreme Master")
                    {
                        <div style="padding:5px">
                            <img src="@Html.Raw(item.Photo)" style="float:left;padding:5px; width:100px" />
                            <span>@Html.DisplayFor(modelItem => item.Title)</span>
                            <br />
                            <span>@Html.DisplayFor(modelItem => item.FullName)</span>
                            <br />
                            @if (User.Identity.IsAuthenticated)
                            {
                                <span>@Html.DisplayFor(modelItem => item.Phone)</span>
                            }
                            <br />
                            <span>@Html.Raw(item.Email)</span>
                        </div>
                        continue;
                    }
                    if (item.Title.IndexOf("Western") > -1)
                    {
                        <div style="padding:5px">
                            <img src="@Html.Raw(item.Photo)" style="float:left;padding:5px; width:100px" />
                            <span>@Html.DisplayFor(modelItem => item.Title)</span>
                            <br />
                            <span>@Html.DisplayFor(modelItem => item.FullName)</span>
                            <br />
                            @if (User.Identity.IsAuthenticated)
                            {
                                <span>@Html.DisplayFor(modelItem => item.Phone)</span>
                            }
                            <br />
                            <span>@Html.Raw(item.Email)</span>
                        </div>
                        continue;
                    }

                }
            </div>
        </td>
        <td style="vertical-align:top; width:50%">
            <div>
                @foreach (var item in Model)
                {
                    if (item.Title == "Vice Supreme Master")
                    {
                        <div style="padding:5px">
                            <img src="@Html.Raw(item.Photo)" style="float:left;padding:5px; width:100px" />
                            <span>@Html.DisplayFor(modelItem => item.Title)</span>
                            <br />
                            <span>@Html.DisplayFor(modelItem => item.FullName)</span>
                            <br />
                            @if (User.Identity.IsAuthenticated)
                            {
                                <span>@Html.DisplayFor(modelItem => item.Phone)</span>
                            }
                            <br />
                            <span>@Html.Raw(item.Email)</span>
                        </div>
                        continue;
                    }
                    if (item.Title.IndexOf("Eastern") > -1)
                    {
                        <div style="padding:5px">
                            <img src="@Html.Raw(item.Photo)" style="float:left;padding:5px; width:100px" />
                            <span>@Html.DisplayFor(modelItem => item.Title)</span>
                            <br />
                            <span>@Html.DisplayFor(modelItem => item.FullName)</span>
                            <br />
                            @if (User.Identity.IsAuthenticated)
                            {
                                <span>@Html.DisplayFor(modelItem => item.Phone)</span>
                            }
                            <br />
                            <span>@Html.Raw(item.Email)</span>
                        </div>
                        continue;
                    }
                }
            </div>
        </td>
    </tr>
</table>
