@model IEnumerable<KofCWSCWebsite.Models.SPGetChairmen>
@using KofCWSCWebsite.Services;
@using KofCWSCWebsite.Data;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var myHeading = @Model.First();
    <h1 style="width:75%" class="MyPageHdr">@myHeading.Heading</h1>
}
<table class="table" style="width:75%">
    <thead>
        <tr>
            <th class="MyColHdr" style="width:40%">
                @Html.DisplayNameFor(model => model.Chairmanship)
            </th>
            <th class="MyColHdr" style="width:20%">
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th class="MyColHdr" style="width:10%">
                @Html.DisplayNameFor(model => model.Council)
            </th>
            <th class="MyColHdr" style="width:30%">
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Chairmanship)
                </td>
                <td>
                    @Html.Raw(Utils.GetMemberNameLink(item.FullName, item.MemberID, User.Identity.IsAuthenticated,Context.Request.Host.Value, "GetChairmen"))
                    @*@Utils.GetMemberNameLink(item.FullName,item.MemberID,User.Identity.IsAuthenticated)*@
                    @*@Html.DisplayFor(modelItem => item.FullName)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Council)
                </td>
                <td>
                    @Html.Raw(item.Email2)
                </td>
            </tr>
        }
    </tbody>
</table>
