@using KofCWSCWebsite.Services;
@model IEnumerable<KofCWSCWebsite.Models.SPGetDDs>
@using KofCWSCWebsite.Services;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    var myHeading = @Model.First();
    <h1 class="MyPageHdr">@myHeading.Heading</h1>
}

<table class="table">
    <thead>
        <tr>
            <th class="MyColHdr" style="text-align:center">
                @Html.DisplayNameFor(model => model.DistrictI)
            </th>
            <th class="MyColHdr"></th>
            <th class="MyColHdr">
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th class="MyColHdr">
                @Html.DisplayNameFor(model => model.AssignedCouncils)
            </th>
            <th class="MyColHdr">
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.DistrictI)
                </td>
                <td>
                    @{
                        string mytitle = string.Empty;
                        string myPicURL = Utils.ProcessPicURL(item.Photo);
                        if (myPicURL.Contains("A"))
                        {
                            mytitle = "Picture does not exist. Upload to Profile or Local wwwroot";
                        }
                        else if (myPicURL.Contains("missing"))
                        {
                            mytitle = "Picture is not in Member's Profile";
                        }
                        else
                        {
                            mytitle = item.FullName;
                        }
                    }
                    <a asp-controller="Users" asp-action="EditPhoto" asp-route-id="@item.KofCID">
                        <img src="@myPicURL"
                             alt="Profile Picture"
                             class="card-img-top"
                             title="@mytitle"
                             style="width: 21px; height:25px; object-fit: cover; background-color:white" />
                        @*<img src="@((string.IsNullOrEmpty(item.Photo) || item.Photo.Contains("default") ) ? "/images/missing.png" : item.Photo)"
                            alt="Profile Picture"
                            class="card-img-top"
                            style="width: 21px; height:25px; object-fit: cover; background-color:white" />*@
                    </a>
                </td>
                <td>
                    @Html.Raw(Utils.GetMemberNameLink(item.FullName, item.MemberID, User.Identity.IsAuthenticated, Context.Request.Host.Value, "GetDDs"))
                    @*@Html.Raw(item.FullName)*@
                </td>
                <td>
                    @Html.Raw(item.AssignedCouncils)
                </td>
                <td>
                    @Html.Raw(item.Email)
                </td>
            </tr>
        }
    </tbody>
</table>
