@model IEnumerable<KofCWSCWebsite.Models.SPGetSOSView>

@{
    ViewData["Title"] = "State Officers";
}

<h3 style="text-align:center">
    @ViewData["MyHeading"]
</h3>




<table class="table">
    <tbody>

        <tr>
            @foreach (var item in Model)
            {

                if (item.SortBy <= 3)
                {
                    <td style="text-align:center">
                        <img src="@Html.DisplayFor(modelItem => item.Photo)" width="200" /><br />
                        @if (User.Identity.IsAuthenticated)
                        {
                            string myHost = "https://" + ViewData["myHost"].ToString()+"/";
                            string myDir = Html.Raw(item.DirInfo).ToString();
                            string myMemberID = Html.Raw(item.MemberID).ToString();
                            var myDirInfo = myHost + myDir + myMemberID;
                            <a href="@myDirInfo">
                                @Html.DisplayFor(modelItem => item.FullName)
                            </a><br />
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.FullName)<br />
                        }

                        <a href="@Html.DisplayFor(modelItem => item.ContactUs)">@Html.DisplayFor(modelItem => item.OfficeDescription)</a>
                    </td>

                }
            }
        </tr>
        <tr>
            @foreach (var item in Model)
            {

                if (item.SortBy > 3 && item.SortBy <= 6)
                {
                    <td style="text-align:center">
                        <img src="@Html.DisplayFor(modelItem => item.Photo)" width="200" /><br />
                        @if (User.Identity.IsAuthenticated)
                        {
                            string myHost = "https://" + ViewData["myHost"].ToString() + "/";
                            string myDir = Html.Raw(item.DirInfo).ToString();
                            string myMemberID = Html.Raw(item.MemberID).ToString();
                            var myDirInfo = myHost + myDir + myMemberID;
                            <a href="@myDirInfo">
                                @Html.DisplayFor(modelItem => item.FullName)
                            </a><br />
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.FullName)<br />
                        }

                        <a href="@Html.DisplayFor(modelItem => item.ContactUs)">@Html.DisplayFor(modelItem => item.OfficeDescription)</a>
                    </td>

                }
            }
        </tr>
        <tr>
            @foreach (var item in Model)
            {

                if (item.SortBy > 6 && item.SortBy <= 9)
                {
                   <td style="text-align:center">
                       <img src="@Html.DisplayFor(modelItem => item.Photo)" width="200" /><br />
                       @if (User.Identity.IsAuthenticated)
                       {
                           string myHost = "https://" + ViewData["myHost"].ToString() + "/";
                           string myDir = Html.Raw(item.DirInfo).ToString();
                           string myMemberID = Html.Raw(item.MemberID).ToString();
                           var myDirInfo = myHost + myDir + myMemberID;
                           <a href="@myDirInfo">
                               @Html.DisplayFor(modelItem => item.FullName)
                           </a><br />
                       }
                       else
                       {
                           @Html.DisplayFor(modelItem => item.FullName)<br />
                       }

                       <a href="@Html.DisplayFor(modelItem => item.ContactUs)">@Html.DisplayFor(modelItem => item.OfficeDescription)</a>
                   </td>

                }
            }
        </tr>
    </tbody>
</table>
