@model KofCWSCWebsite.Models.TblMasAward

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblMasAward</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwardName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwardName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwardDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwardDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwardDueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwardDueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkToTheAwardForm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkToTheAwardForm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwardSubmissionEmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwardSubmissionEmailAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
