@model IEnumerable<KofCWSCWebsite.Models.TblMasAward>

@{
    ViewData["Title"] = "Awards";
}

<table class="table" style="width:100%">
    <thead>
        <tr>
            <th colspan="3" style="text-align:center">
                <h3 class="MyPageHdr">Grand Knight Resources</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align:center">
                <a href="https://www.kofc.org/en/resources/for-members/11619-fraternal-excellence-guide.pdf" target="_blank">Fraternal Excellence Guide</a>
            </td>
            <td style="text-align:center">
                <a href="http://www.kofc.org/un/en/resources/membership/interest_survey.pdf" target="_blank">Membership Interest Survey</a>
            </td>
            <td style="text-align:center">
                <a href="https://www.kofc.org/en/resources/for-members/11620-protocol-meetings-and-ceremonials.pdf" target="_blank">Protocol, Meetings, and Ceremonials Handbook</a>
            </td>
        </tr>
    </tbody>
</table>


@if (User.IsInRole("Admin") || User.IsInRole("DataAdmin"))
{
    <p>
        <form asp-controller="TblMasAwards" asp-action="Create" method="get">
            <button type="submit" class="btn btn-sm btn-success">
                Create An Award
            </button>
        </form>
    </p>
}
<table class="table" width="100%">
    <thead>
        <tr>
            <th class="MyColHdr">
                @Html.DisplayNameFor(model => model.AwardName)
            </th>
            <th class="MyColHdr">
                @Html.DisplayNameFor(model => model.AwardDescription)
            </th>
            <th class="MyColHdr">
                @Html.DisplayNameFor(model => model.AwardDueDate)
            </th>
            <th class="MyColHdr">
                @Html.DisplayNameFor(model => model.LinkToTheAwardForm)
            </th>
            <th class="MyColHdr" style="text-align:center;width:200px">
                @Html.DisplayNameFor(model => model.AwardSubmissionEmailAddress)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th class="MyColHdr"></th>
                <th class="MyColHdr"></th>
                <th class="MyColHdr"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AwardName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwardDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwardDueDate)
                </td>
                <td>
                    @Html.Raw(item.LinkToTheAwardForm)
                </td>
                <td style="text-align:center">
                    @{
                        string myURL = "";
                        string myData = @Html.Raw(item.AwardSubmissionEmailAddress).ToString();
                        if (myData.Contains("href"))
                        {
                            myURL = @Html.Raw(item.AwardSubmissionEmailAddress).ToString();
                        }
                        else
                        {
                            myURL = myData;
                        }
                        @Html.Raw(myURL);
                    }

                </td>
                @if (User.IsInRole("Admin") || User.IsInRole("DataAdmin"))
                {
                    <td style="padding-right:0px">
                        @* <a asp-action="Edit" asp-route-id="@item.MemberId">Edit</a>&nbsp;|&nbsp;<a asp-action="Details" asp-route-id="@item.MemberId">Details</a>&nbsp;|&nbsp;<a asp-action="Delete" asp-route-id="@item.MemberId">Delete</a> *@
                        <form asp-action="Edit" asp-route-id="@item.Id" method="get">
                            <button type="submit" class="btn btn-sm btn-primary">
                                Edit
                            </button>
                        </form>
                    </td>
                    <td style="padding-left:0px;padding-right:0px">
                        <form asp-action="Details" asp-route-id="@item.Id" method="get">
                            <button type="submit" class="btn btn-sm btn-warning">
                                Details
                            </button>
                        </form>
                    </td>
                    <td style="padding-left:0px">
                        <form asp-action="Delete" asp-route-id="@item.Id" method="get">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Delete
                            </button>
                        </form>

                    </td>
                }
            </tr>
        }
    </tbody>
</table>
