@model IEnumerable<KofCWSCWebsite.Models.TblMasAward>

@{
    ViewData["Title"] = "Awards";
}

<table class="table" style="width:100%">
    <thead>
        <tr>
            <th colspan="2" style="text-align:center">
                <h3 class="MyPageHdr">Grand Knight Resources</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="/files/StateFamily/GK/Handbook.pdf" target="_blank">Grand Knight Handbook</a><br />
                <a href="http://www.kofc.org/un/en/resources/membership/interest_survey.pdf" target="_blank">Membership Interest Survey</a>

            </td>
            <td style="text-align:right">
                <a href="http://www.kofc.org/en/resources/officers/officers.pdf" target="_blank">Officer Duties</a><br />
                <a href="https://www.kofc.org/en/resources/service/council/method-conducting-council-meetings10318.pdf" target="_blank">Guidelines for Council Meetings</a>
            </td>
        </tr>
    </tbody>
</table>


@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-success">Create an Award</a>
    </p>
}
<table class="table" width="100%">
    <thead>
        <tr>
            <th class="MyColHdr">
                @Html.DisplayNameFor(model => model.AwardName)
            </th>
            <th class="MyColHdr">
                @Html.DisplayNameFor(model => model.AwardDescription)
            </th>
            <th class="MyColHdr">
                @Html.DisplayNameFor(model => model.AwardDueDate)
            </th>
            <th class="MyColHdr">
                @Html.DisplayNameFor(model => model.LinkToTheAwardForm)
            </th>
            <th class="MyColHdr">
                @Html.DisplayNameFor(model => model.AwardSubmissionEmailAddress)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th class="MyColHdr"></th>
                <th class="MyColHdr"></th>
                <th class="MyColHdr"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AwardName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwardDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwardDueDate)
                </td>
                <td>
                    @Html.Raw(item.LinkToTheAwardForm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwardSubmissionEmailAddress)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                    <td style="padding-right:0px">
                        @* <a asp-action="Edit" asp-route-id="@item.MemberId">Edit</a>&nbsp;|&nbsp;<a asp-action="Details" asp-route-id="@item.MemberId">Details</a>&nbsp;|&nbsp;<a asp-action="Delete" asp-route-id="@item.MemberId">Delete</a> *@
                        <form asp-action="Edit" asp-route-id="@item.Id" method="get">
                            <button type="submit" class="btn btn-sm btn-primary">
                                Edit
                            </button>
                        </form>
                    </td>
                    <td style="padding-left:0px;padding-right:0px">
                        <form asp-action="Details" asp-route-id="@item.Id" method="get">
                            <button type="submit" class="btn btn-sm btn-warning">
                                Details
                            </button>
                        </form>
                    </td>
                    <td style="padding-left:0px">
                        <form asp-action="Delete" asp-route-id="@item.Id" method="get">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Delete
                            </button>
                        </form>

                    </td>



                }
                    </td>
                </tr>
            }
    </tbody>
</table>
