@model KofCWSCWebsite.Models.TblValAssy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblValAssy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ALocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ALocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddInfo1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddInfo1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddInfo2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddInfo2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddInfo3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddInfo3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebSiteUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebSiteUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MasterLoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MasterLoc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ANumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
